In [5]:
import pandas as pd
import numpy as np

In [6]:
movies_md = pd.read_csv("movies_metadata.csv")
movies_keywords = pd.read_csv("keywords.csv")
movies_credits = pd.read_csv("credits.csv")

C:\Users\SUMAN\AppData\Local\Temp\ipykernel_10552\922492249.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_md = pd.read_csv("movies_metadata.csv")

In [7]:
#here .head() shows the 5 rows of the dataset
movies_md.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [8]:
#here .info() shows the type of data being used which is now Dataframe
movies_md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [9]:
movies_keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [10]:
#here we listed the popular movies whose vote_count is greater than 55
movies_md = movies_md[movies_md['vote_count'] >= 55]
movies_md.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0

In [11]:
#Keeping only selected columns
movies_md = movies_md[['id', 'original_title', 'overview', 'genres']]

#here reset_index will do the reindexing/re-numbering of the id of the dataset movies_md
movies_md.reset_index(inplace=True, drop=True)

movies_credits = movies_credits[['id', 'cast']]

In [12]:
movies_credits.head()

      id                                               cast
0    862  [{'cast_id': 14, 'character': 'Woody (voice)',...
1   8844  [{'cast_id': 1, 'character': 'Alan Parrish', '...
2  15602  [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3  31357  [{'cast_id': 1, 'character': "Savannah 'Vannah...
4  11862  [{'cast_id': 1, 'character': 'George Banks', '...

In [13]:
len(movies_md)

8636

In [14]:
#converting the id column into int of dataset movies_md
movies_md['id'] = movies_md['id'].astype(int)

In [15]:
#merging all three dataset
movies_df = pd.merge(movies_md, movies_keywords, on='id', how='left')
movies_df.reset_index(inplace=True, drop=True)
movies_df = pd.merge(movies_df, movies_credits, on='id', how='left')
movies_df.reset_index(inplace=True, drop=True)

movies_df.head()

,id,original_title,overview,genres,keywords,cast
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '..."
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c..."
3,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '..."
4,949,Heat,"Obsessive master thief, Neil McCauley leads a ...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'id': 642, 'name': 'robbery'}, {'id': 703, '...","[{'cast_id': 25, 'character': 'Lt. Vincent Han..."

In [16]:
#Showing the keywords of the first index
movies_df['keywords'][0]

"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"

In [17]:
#Data Cleaning
ev=[]
def get_genre(i):
    return [x['name'] for x in eval(i)]

In [18]:
movies_df['genre']=movies_df['genres'].apply(get_genre)

In [19]:
movies_df.head()

,id,original_title,overview,genres,keywords,cast,genre
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[Animation, Comedy, Family]"
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[Adventure, Fantasy, Family]"
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[Romance, Comedy]"
3,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...",[Comedy]
4,949,Heat,"Obsessive master thief, Neil McCauley leads a ...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'id': 642, 'name': 'robbery'}, {'id': 703, '...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[Action, Crime, Drama, Thriller]"

In [20]:

movies_df.isnull().sum()

id                 0
original_title     0
overview          35
genres             0
keywords           0
cast               0
genre              0
dtype: int64

In [22]:
movies_df.dropna(inplace=True)
movies_df['genre'] = movies_df['genre'].apply(lambda x: ' '.join(x))
movies_df.head()

,id,original_title,overview,genres,keywords,cast,genre
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...",Animation Comedy Family
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...",Adventure Fantasy Family
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...",Romance Comedy
3,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...",Comedy
4,949,Heat,"Obsessive master thief, Neil McCauley leads a ...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'id': 642, 'name': 'robbery'}, {'id': 703, '...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...",Action Crime Drama Thriller

In [24]:
def cast(i):
    return [x['name'] for x in eval(i)]
movies_df['cast']=movies_df['cast'].apply(cast)

In [27]:
def keywords(i):
    return [x['name'] for x in eval(i)]
movies_df['keywords']=movies_df['keywords'].apply(keywords)

In [28]:
# movies_df['cast'] = movies_df['cast'].apply(lambda x: [i['name'] for i in eval(x)])
# movies_df['keywords'] = movies_df['keywords'].apply(lambda x: [i['name'] for i in eval(x)])
movies_df['cast'] = movies_df['cast'].apply(lambda x: ' '.join(x))
movies_df['keywords'] = movies_df['keywords'].apply(lambda x: ' '.join(x))

In [29]:
movies_df.head()

,id,original_title,overview,genres,keywords,cast,genre
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",jealousy toy boy friendship friends rivalry bo...,Tom Hanks Tim Allen Don Rickles Jim Varney Wal...,Animation Comedy Family
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",board game disappearance based on children's b...,Robin Williams Jonathan Hyde Kirsten Dunst Bra...,Adventure Fantasy Family
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",fishing best friend duringcreditsstinger old men,Walter Matthau Jack Lemmon Ann-Margret Sophia ...,Romance Comedy
3,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]",baby midlife crisis confidence aging daughter ...,Steve Martin Diane Keaton Martin Short Kimberl...,Comedy
4,949,Heat,"Obsessive master thief, Neil McCauley leads a ...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",robbery detective bank obsession chase shootin...,Al Pacino Robert De Niro Val Kilmer Jon Voight...,Action Crime Drama Thriller

In [31]:
#Rearranging the names of the columns
movies_df['tags'] = movies_df['overview']+' '+movies_df['keywords']+' '+movies_df['cast']+' '+movies_df['genre']+' '+movies_df['original_title']
movies_df.head()

,id,original_title,overview,genres,keywords,cast,genre,tags
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",jealousy toy boy friendship friends rivalry bo...,Tom Hanks Tim Allen Don Rickles Jim Varney Wal...,Animation Comedy Family,"Led by Woody, Andy's toys live happily in his ..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",board game disappearance based on children's b...,Robin Williams Jonathan Hyde Kirsten Dunst Bra...,Adventure Fantasy Family,When siblings Judy and Peter discover an encha...
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",fishing best friend duringcreditsstinger old men,Walter Matthau Jack Lemmon Ann-Margret Sophia ...,Romance Comedy,A family wedding reignites the ancient feud be...
3,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]",baby midlife crisis confidence aging daughter ...,Steve Martin Diane Keaton Martin Short Kimberl...,Comedy,Just when George Banks has recovered from his ...
4,949,Heat,"Obsessive master thief, Neil McCauley leads a ...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",robbery detective bank obsession chase shootin...,Al Pacino Robert De Niro Val Kilmer Jon Voight...,Action Crime Drama Thriller,"Obsessive master thief, Neil McCauley leads a ..."

In [32]:
#Showing the data of first column 'tag'
movies_df['tags'][0]

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences. jealousy toy boy friendship friends rivalry boy next door new toy toy comes to life Tom Hanks Tim Allen Don Rickles Jim Varney Wallace Shawn John Ratzenberger Annie Potts John Morris Erik von Detten Laurie Metcalf R. Lee Ermey Sarah Freeman Penn Jillette Animation Comedy Family Toy Story"

In [33]:
#adding imdb rating column
import random
def imdb(i):
    return random.randint(1,10)

In [36]:
movies_df['imdb_rating']=movies_df['id'].apply(imdb)
movies_df.head()

,id,original_title,overview,genres,keywords,cast,genre,tags,imdb_rating
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",jealousy toy boy friendship friends rivalry bo...,Tom Hanks Tim Allen Don Rickles Jim Varney Wal...,Animation Comedy Family,"Led by Woody, Andy's toys live happily in his ...",4
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",board game disappearance based on children's b...,Robin Williams Jonathan Hyde Kirsten Dunst Bra...,Adventure Fantasy Family,When siblings Judy and Peter discover an encha...,6
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",fishing best friend duringcreditsstinger old men,Walter Matthau Jack Lemmon Ann-Margret Sophia ...,Romance Comedy,A family wedding reignites the ancient feud be...,7
3,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]",baby midlife crisis confidence aging daughter ...,Steve Martin Diane Keaton Martin Short Kimberl...,Comedy,Just when George Banks has recovered from his ...,6
4,949,Heat,"Obsessive master thief, Neil McCauley leads a ...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",robbery detective bank obsession chase shootin...,Al Pacino Robert De Niro Val Kilmer Jon Voight...,Action Crime Drama Thriller,"Obsessive master thief, Neil McCauley leads a ...",9

In [37]:
movies_df.shape

(8735, 9)

In [38]:
movies_df['original_title'].nunique()

8390

In [ ]:
movies_df=movies_df.drop('genres',axis='columns')

In [41]:
movies_df.head()

,id,original_title,overview,keywords,cast,genre,tags,imdb_rating
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",jealousy toy boy friendship friends rivalry bo...,Tom Hanks Tim Allen Don Rickles Jim Varney Wal...,Animation Comedy Family,"Led by Woody, Andy's toys live happily in his ...",4
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,board game disappearance based on children's b...,Robin Williams Jonathan Hyde Kirsten Dunst Bra...,Adventure Fantasy Family,When siblings Judy and Peter discover an encha...,6
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,fishing best friend duringcreditsstinger old men,Walter Matthau Jack Lemmon Ann-Margret Sophia ...,Romance Comedy,A family wedding reignites the ancient feud be...,7
3,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,baby midlife crisis confidence aging daughter ...,Steve Martin Diane Keaton Martin Short Kimberl...,Comedy,Just when George Banks has recovered from his ...,6
4,949,Heat,"Obsessive master thief, Neil McCauley leads a ...",robbery detective bank obsession chase shootin...,Al Pacino Robert De Niro Val Kilmer Jon Voight...,Action Crime Drama Thriller,"Obsessive master thief, Neil McCauley leads a ...",9

In [44]:
#making questions for 'overview' and create 'ask_overview'
def overview(i):
    return ["overview "+i,'i want to overview '+i,'what happened in '+i,'what is the gist of '+i,'gist of '+i]
movies_df['ask_overview']=movies_df['original_title'].apply(overview)
movies_df.head()

,id,original_title,overview,keywords,cast,genre,tags,imdb_rating,ask_overview
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",jealousy toy boy friendship friends rivalry bo...,Tom Hanks Tim Allen Don Rickles Jim Varney Wal...,Animation Comedy Family,"Led by Woody, Andy's toys live happily in his ...",4,"[overview Toy Story, i want to overview Toy St..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,board game disappearance based on children's b...,Robin Williams Jonathan Hyde Kirsten Dunst Bra...,Adventure Fantasy Family,When siblings Judy and Peter discover an encha...,6,"[overview Jumanji, i want to overview Jumanji,..."
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,fishing best friend duringcreditsstinger old men,Walter Matthau Jack Lemmon Ann-Margret Sophia ...,Romance Comedy,A family wedding reignites the ancient feud be...,7,"[overview Grumpier Old Men, i want to overview..."
3,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,baby midlife crisis confidence aging daughter ...,Steve Martin Diane Keaton Martin Short Kimberl...,Comedy,Just when George Banks has recovered from his ...,6,"[overview Father of the Bride Part II, i want ..."
4,949,Heat,"Obsessive master thief, Neil McCauley leads a ...",robbery detective bank obsession chase shootin...,Al Pacino Robert De Niro Val Kilmer Jon Voight...,Action Crime Drama Thriller,"Obsessive master thief, Neil McCauley leads a ...",9,"[overview Heat, i want to overview Heat, what ..."

In [45]:
#making questions for 'who_acted' in 'actors'
def who_acted(i):
    return ['who acted in '+i, 'who are the actors of '+i, 'who played in '+i]
movies_df['actors']=movies_df['original_title'].apply(who_acted)
movies_df.head()

,id,original_title,overview,keywords,cast,genre,tags,imdb_rating,ask_overview,actors
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",jealousy toy boy friendship friends rivalry bo...,Tom Hanks Tim Allen Don Rickles Jim Varney Wal...,Animation Comedy Family,"Led by Woody, Andy's toys live happily in his ...",4,"[overview Toy Story, i want to overview Toy St...","[who acted in Toy Story, who are the actors of..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,board game disappearance based on children's b...,Robin Williams Jonathan Hyde Kirsten Dunst Bra...,Adventure Fantasy Family,When siblings Judy and Peter discover an encha...,6,"[overview Jumanji, i want to overview Jumanji,...","[who acted in Jumanji, who are the actors of J..."
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,fishing best friend duringcreditsstinger old men,Walter Matthau Jack Lemmon Ann-Margret Sophia ...,Romance Comedy,A family wedding reignites the ancient feud be...,7,"[overview Grumpier Old Men, i want to overview...","[who acted in Grumpier Old Men, who are the ac..."
3,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,baby midlife crisis confidence aging daughter ...,Steve Martin Diane Keaton Martin Short Kimberl...,Comedy,Just when George Banks has recovered from his ...,6,"[overview Father of the Bride Part II, i want ...","[who acted in Father of the Bride Part II, who..."
4,949,Heat,"Obsessive master thief, Neil McCauley leads a ...",robbery detective bank obsession chase shootin...,Al Pacino Robert De Niro Val Kilmer Jon Voight...,Action Crime Drama Thriller,"Obsessive master thief, Neil McCauley leads a ...",9,"[overview Heat, i want to overview Heat, what ...","[who acted in Heat, who are the actors of Heat..."

In [46]:
movies_df['actors'][0][0]

'who acted in Toy Story'

In [48]:
#making questions for 'genre'
def which_genre(i):
    return ['which genre is '+i,i+' belong to which genre','which genre are contained in '+ i]
movies_df['which_genre']=movies_df['original_title'].apply(which_genre)
movies_df.columns

Index(['id', 'original_title', 'overview', 'keywords', 'cast', 'genre', 'tags',
       'imdb_rating', 'ask_overview', 'actors', 'which_genre'],
      dtype='object')

In [49]:
movies_df

,id,original_title,overview,keywords,cast,genre,tags,imdb_rating,ask_overview,actors,which_genre
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",jealousy toy boy friendship friends rivalry bo...,Tom Hanks Tim Allen Don Rickles Jim Varney Wal...,Animation Comedy Family,"Led by Woody, Andy's toys live happily in his ...",4,"[overview Toy Story, i want to overview Toy St...","[who acted in Toy Story, who are the actors of...","[which genre is Toy Story, Toy Story belong to..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,board game disappearance based on children's b...,Robin Williams Jonathan Hyde Kirsten Dunst Bra...,Adventure Fantasy Family,When siblings Judy and Peter discover an encha...,6,"[overview Jumanji, i want to overview Jumanji,...","[who acted in Jumanji, who are the actors of J...","[which genre is Jumanji, Jumanji belong to whi..."
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,fishing best friend duringcreditsstinger old men,Walter Matthau Jack Lemmon Ann-Margret Sophia ...,Romance Comedy,A family wedding reignites the ancient feud be...,7,"[overview Grumpier Old Men, i want to overview...","[who acted in Grumpier Old Men, who are the ac...","[which genre is Grumpier Old Men, Grumpier Old..."
3,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,baby midlife crisis confidence aging daughter ...,Steve Martin Diane Keaton Martin Short Kimberl...,Comedy,Just when George Banks has recovered from his ...,6,"[overview Father of the Bride Part II, i want ...","[who acted in Father of the Bride Part II, who...","[which genre is Father of the Bride Part II, F..."
4,949,Heat,"Obsessive master thief, Neil McCauley leads a ...",robbery detective bank obsession chase shootin...,Al Pacino Robert De Niro Val Kilmer Jon Voight...,Action Crime Drama Thriller,"Obsessive master thief, Neil McCauley leads a ...",9,"[overview Heat, i want to overview Heat, what ...","[who acted in Heat, who are the actors of Heat...","[which genre is Heat, Heat belong to which gen..."
...,...,...,...,...,...,...,...,...,...,...,...
8765,430365,À bras ouverts,Jean-Étienne Fougerole is an intellectual bohe...,,Christian Clavier Ary Abittan Elsa Zylberstein...,Comedy,Jean-Étienne Fougerole is an intellectual bohe...,7,"[overview À bras ouverts, i want to overview À...","[who acted in À bras ouverts, who are the acto...","[which genre is À bras ouverts, À bras ouverts..."
8766,248705,Les Visiteurs: La Révolution,"Stuck in the corridors of time, Godefroy de Mo...",nazis castle time travel robespierre,Jean Reno Christian Clavier Franck Dubosc Kari...,Comedy,"Stuck in the corridors of time, Godefroy de Mo...",1,"[overview Les Visiteurs: La Révolution, i want...","[who acted in Les Visiteurs: La Révolution, wh...","[which genre is Les Visiteurs: La Révolution, ..."
8767,44918,Titanic II,On the 100th anniversary of the original voyag...,suspense,Shane Van Dyke Marie Westbrook Bruce Davison B...,Action Adventure Thriller,On the 100th anniversary of the original voyag...,3,"[overview Titanic II, i want to overview Titan...","[who acted in Titanic II, who are the actors o...","[which genre is Titanic II, Titanic II belong ..."
8768,455661,In a Heartbeat,A closeted boy runs the risk of being outed by...,love teenager lgbt short,,Family Animation Romance Comedy,A closeted boy runs the risk of being outed by...,10,"[overview In a Heartbeat, i want to overview I...","[who acted in In a Heartbeat, who are the acto...","[which genre is In a Heartbeat, In a Heartbeat..."
8769,14008,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,military school,Hilary Duff Christy Carlson Romano Gary Cole S...,Comedy,Hyperactive teenager Kelly is enrolled into a ...,10,"[overview Cadet Kelly, i want to overview Cade...","[who acted in Cadet Kelly, who are the actors ...","[which genre is Cadet Kelly, Cadet Kelly belon..."

In [50]:
#Building the NLP

In [51]:
from nltk.stem import WordNetLemmatizer
import nltk

In [52]:
lemmatizer = WordNetLemmatizer()

In [53]:
words = []
labels = []
doc=[]

In [54]:
#tokenization

In [56]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\SUMAN\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [58]:
for i in movies_df['actors']:
    for j in i:
        wrds = nltk.word_tokenize(j)
        words.extend(wrds)
        doc.append(wrds)

In [59]:
len(doc)

52410

In [60]:
len(words)

343976

In [61]:
for i in movies_df['which_genre']:
    for j in i:
        wrds = nltk.word_tokenize(j)
        words.extend(wrds)
        doc.append(wrds)

In [62]:
len(doc)

78615

In [63]:
len(words)

524684

In [64]:
#lemmatization

In [67]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\SUMAN\AppData\Roaming\nltk_data...

True

In [70]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\SUMAN\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [71]:
words = [lemmatizer.lemmatize(w.lower()) for w in words ]
words = sorted(list(set(words)))

In [72]:
len(words)

7696

In [73]:
import re

In [75]:
# words = [word.replace("'",'') for word in words]
words

['!',
 '$',
 '%',
 '&',
 "'",
 "'66",
 "'71",
 "'73",
 "'77",
 "'burbs",
 "'d",
 "'em",
 "'ll",
 "'m",
 "'re",
 "'s",
 "'ve",
 '(',
 ')',
 '*',
 '+',
 '+1',
 ',',
 '-',
 '-naruto',
 '.',
 '...',
 '....',
 '.45',
 '.5',
 '1',
 '1,39',
 '1/2',
 '10',
 '10,000',
 '100',
 '1000',
 '101',
 '102',
 '11',
 '11-11-11',
 '11.22.63',
 '1138',
 '117',
 '11:14',
 '12',
 '120',
 '127',
 '13',
 '1303',
 '13th',
 '1408',
 '1492',
 '15',
 '16',
 '1600',
 '17',
 '18',
 '19',
 '1941',
 '1975',
 '1984',
 '1½',
 '2',
 '2.0',
 '2.5',
 '20',
 '20,000',
 '2000',
 '2001',
 '2010',
 '2012',
 '2017',
 '2046',
 '20th',
 '21',
 '211',
 '22',
 '23',
 '237',
 '24',
 '25th',
 '27',
 '28',
 '2:22',
 '2nd',
 '2½',
 '3',
 '3-d',
 '3.5',
 '30',
 '300',
 '3000',
 '3096',
 '31',
 '31.',
 '33',
 '33⅓',
 '34th',
 '36',
 '360',
 '37°2',
 '39',
 '3:10',
 '3d',
 '3dd',
 '3rd',
 '4',
 '4-ever',
 '4.3.2.1',
 '40',
 '400',
 '42',
 '43',
 '436',
 '44',
 '45',
 '451',
 '46',
 '47',
 '48',
 '49',
 '4th',
 '5',
 '5+',
 '50',
 '50/50',
 '500',
 '51',
 '51st',
 '54',
 '5555',
 '57',
 '5ecret',
 '5tar',
 '5th',
 '5tory',
 '5ystem',
 '6',
 '60',
 '6th',
 '6ème',
 '7',
 '7500',
 '76',
 '7th',
 '7번방의',
 '8',
 '80',
 '88',
 '8mm',
 '8th',
 '8½',
 '9',
 '9/11',
 '911',
 '93',
 '99',
 '9th',
 ':',
 '?',
 '[',
 ']',
 'a',
 'a-team',
 'a.c.a.b',
 'a.c.o.d',
 'a.d',
 'a.d.',
 'a.e',
 'a.i',
 'aaron',
 'abandoned',
 'abattoir',
 'abbey',
 'abbott',
 'abc',
 'abduction',
 'abiding',
 'abominable',
 'about',
 'above',
 'abraham',
 'abrazo',
 'abrazos',
 'abre',
 'absentia',
 'absolute',
 'absolutely',
 'abyss',
 'academy',
 'accanto',
 'accepted',
 'accidental',
 'according',
 'accountant',
 'accused',
 'ace',
 'aceptan',
 'across',
 'act',
 'acted',
 'action',
 'activity',
 'actor',
 'actually',
 'ad',
 'adaline',
 'adam',
 'adaptation',
 'addams',
 'addendum',
 'addicted',
 'adentro',
 'adieu',
 'adjustment',
 'admission',
 'ado',
 'adopte',
 'adore',
 'adrift',
 'adult',
 'advent',
 'adventure',
 'adventureland',
 'adventurer',
 'advocate',
 'affair',
 'affection',
 'afflicted',
 'affliction',
 'affære',
 'afraid',
 'africa',
 'african',
 'afro',
 'after',
 'after.life',
 'afterlife',
 'aftermath',
 'afternoon',
 'aftershock',
 'again',
 'against',
 'age',
 'agent',
 'agente',
 'agora',
 'agua',
 'aguirre',
 'ahead',
 'ahora',
 'ai',
 'air',
 'airbender',
 'airhead',
 'airlift',
 'airplane',
 'airport',
 'akbar',
 'akeelah',
 'al',
 'alabama',
 'aladdin',
 'alamo',
 'alan',
 'alaska',
 'alatriste',
 'albert',
 'alcatraz',
 'alceste',
 'alenky',
 'alex',
 'alexander',
 'alfie',
 'alfredo',
 'algeri',
 'ali',
 'alibi.com',
 'alice',
 'alien',
 'alienate',
 'alien³',
 'alive',
 'all',
 "all'italiana",
 'alla',
 'allan',
 'alle',
 'allegiant',
 'allein',
 'allen',
 'allied',
 'alligator',
 'allows',
 'almanac',
 'almighty',
 'almost',
 'aloha',
 'alone',
 'along',
 'alpha',
 'alphaville',
 'already',
 'altered',
 'altitude',
 'alto',
 'altrimenti',
 'alvin',
 'always',
 'am',
 'amadeus',
 'amanda',
 'amantes',
 'amarcord',
 'amazing',
 'ambersons',
 'amelia',
 'amen',
 'america',
 'american',
 'amerikanische',
 'ami',
 'amiche',
 'amici',
 'amico',
 'amie',
 'amigo',
 'amis',
 'amistad',
 'amityville',
 'amo',
 'among',
 'amor',
 'amore',
 'amores',
 'amour',
 'amoureuse',
 'amusement',
 'amy',
 'américain',
 'américaine',
 'an',
 'anacleto',
 'anaconda',
 "anadolu'da",
 'analysis',
 'analyze',
 'anarchy',
 'anastasia',
 'anatomie',
 'anatomy',
 'anchorman',
 'ancora',
 'and',
 'andalou',
 'anderen',
 'andra',
 'andreas',
 'andromeda',
 'andré',
 'angel',
 'angel-a',
 'angela',
 'angeles',
 'anger',
 'anges',
 'angriest',
 'angry',
 'angst',
 'angus',
 'animal',
 'animated',
 'animatrix',
 'anna',
 'annabelle',
 'annapolis',
 'anne',
 'annie',
 'annihilation',
 'anomalisa',
 'anomaly',
 'anonymes',
 'anonymous',
 'another',
 'ant',
 'ant-man',
 'anthropoid',
 'antichrist',
 'antigang',
 'antitrust',
 'antiviral',
 'antoinette',
 'antwone',
 'antz',
 'anvil',
 'anxiety',
 'any',
 'anymore',
 'anything',
 'anyways',
 'anywhere',
 'apache',
 'apart',
 'apartment',
 'ape',
 'apellidos',
 'aperta',
 'aphrodite',
 'apocalipsis',
 'apocalypse',
 'apocalypto',
 'apollo',
 'appaloosa',
 'apparition',
 'appleseed',
 'apply',
 'apprentice',
 'approaching',
 'april',
 'apt',
 'aquamarine',
 'aquarius',
 'aquatic',
 'arabia',
 'arachnophobia',
 'arbitrage',
 'arbus',
 'arc',
 'are',
 'area',
 'arena',
 'arendt',
 'argo',
 'argonaut',
 'ariel',
 'aristocats',
 'arizona',
 'ark',
 'arkham',
 'arlington',
 'arm',
 'armageddon',
 'armed',
 'armored',
 'army',
 'arn',
 'arnold',
 'around',
 'arq',
 'arrabbiamo',
 'arrival',
 'arrivé',
 'arrow',
 'arrêté',
 'arsenic',
 'arsène',
 'art',
 'arthur',
 'artificial',
 'artist',
 'as',
 'ascending',
 'ascenseur',
 'ash',
 'ashby',
 'ask',
 'asked',
 'asmar',
 'asphalt',
 'aspirante',
 'ass',
 'assassin',
 'assassination',
 'assault',
 'assignment',
 'assistant',
 'assoupi',
 'astro',
 'astronaut',
 'astérix',
 'asylum',
 'at',
 'ataque',
 'atari',
 'atlantic',
 'atlantis',
 'atlas',
 'atm',
 'atomic',
 'atonement',
 'atrocious',
 'attached',
 'attack',
 'attic',
 'atticus',
 'attila',
 'attraction',
 'au',
 'auf',
 'august',
 'austen',
 'austenland',
 'austin',
 'australia',
 'auto',
 'automobile',
 'autopsy',
 'autoreiji',
 'autumn',
 'autómata',
 'aux',
 'av',
 'avalanche',
 'avalon',
 'avant',
 'avatar',
 'avec',
 'avenger',
 'aventuras',
 'aventure',
 'aventures',
 'aveuglément',
 'aviator',
 'avis',
 'avonturen',
 'avp',
 'avril',
 'awake',
 'awakening',
 'awakens',
 'away',
 'awkward',
 'ax',
 'axe',
 'azkaban',
 'azur',
 'años',
 'a計劃',
 'a計劃續集',
 'b',
 'b.',
 'baader',
 'baahubali',
 'baarìa',
 'babadook',
 'babe',
 'babel',
 'babettes',
 'baby',
 'babylon',
 'babymakers',
 'babysitter',
 'babysitting',
 'bachelor',
 'bachelorette',
 'baciami',
 'bacio',
 'back',
 'back-up',
 'backcountry',
 'backdraft',
 'backmask',
 'backtrack',
 'bacon',
 'bad',
 'badassdom',
 'badlands',
 'badly',
 'bag',
 'baggage',
 'bagger',
 'bahnhof',
 'baiohazâdo',
 'baise-moi',
 'baisers',
 'bait',
 'bajirao',
 'bajrangi',
 'bak',
 'baked',
 'baker',
 'balada',
 'balade',
 'balboa',
 'ball',
 'ballad',
 'ballerina',
 'ballet',
 'ballistic',
 'ballon',
 'ballou',
 'ballroom',
 'balthazar',
 'balto',
 'bamba',
 'bambi',
 'bana',
 'banana',
 'band',
 'bande',
 'bandidas',
 'bandit',
 'bandslam',
 'bang',
 'banger',
 'bangkok',
 'bank',
 'banlieue',
 'banshee',
 'banzai',
 'bar',
 'baraka',
 'barb',
 'barbara',
 'barbarella',
 'barbaren',
 'barbares',
 'barbarian',
 'barbecue',
 'barber',
 'barbershop',
 'barbie',
 'barcelona',
 'barefoot',
 'barely',
 'barfi',
 'barfly',
 'barfuß',
 'barley',
 'barney',
 'barnyard',
 'baron',
 'barrel',
 'barry',
 'bartlett',
 'barton',
 'basanti',
 'baseketball',
 'bashir',
 'basic',
 'basilicata',
 'baskervilles',
 'basket',
 'basketball',
 'baskin',
 'basquiat',
 'bastard',
 'basterds',
 'bastille',
 'bastøy',
 'batch',
 'bathgate',
 'batman',
 'batoru',
 'battaglia',
 'battery',
 'battle',
 'battlefield',
 'battleship',
 'battlestar',
 'battre',
 'batwoman',
 'bay',
 'baytown',
 'baywatch',
 'bc',
 'be',
 'beach',
 'beacon',
 'bean',
 'bear',
 'beast',
 'beastly',
 'beastmaster',
 'beatdown',
 'beatles',
 'beau',
 'beaucoup',
 'beautiful',
 'beauty',
 'beaver',
 'beavis',
 'because',
 'beckham',
 'becomes',
 'becoming',
 'bedazzled',
 'bedknobs',
 'bedroom',
 'bedtime',
 'bee',
 'been',
 'beer',
 'beerfest',
 'beethoven',
 'beetlejuice',
 'beezus',
 'before',
 'began',
 'begin',
 'beginner',
 'beginning',
 'begotten',
 'beguiled',
 'behandeling',
 'behaving',
 'behavior',
 'behind',
 'behold',
 'being',
 'bejīta',
 'bel',
 'beli',
 'belief',
 'believe',
 'believer',
 'belko',
 'bell',
 'bella',
 'belle',
 'belleville',
 'bellezza',
 'belong',
 'beloved',
 'below',
 'belva',
 'ben',
 'ben-hur',
 'benchwarmers',
 'bend',
 'bender',
 'beneath',
 'benefactor',
 'benefit',
 'benghazi',
 'benjamin',
 'benny',
 'benvenuti',
 'benvenuto',
 'beowulf',
 'berandal',
 'berberian',
 'bergerac',
 'berlin',
 'bernie',
 'best',
 'bestia',
 'beta',
 'beth',
 'better',
 'betty',
 'between',
 'beverly',
 'bewitched',
 'beyond',
 'bfg',
 'bhaag',
 'bhaijaan',
 'bi',
 'bianca',
 'bianco',
 'bicentennial',
 'biciclette',
 'bicyclette',
 'bieber',
 'bien',
 'bienvenue',
 'big',
 'bigalow',
 'bigger',
 'biker',
 'bilko',
 'bill',
 'billes',
 'billion',
 'billy',
 'biloxi',
 'bin',
 'bio-dome',
 'biohazard',
 'bir',
 'bird',
 'birdcage',
 'birdemic',
 'birdman',
 'birdy',
 'birth',
 'birthday',
 'bisbetico',
 'bit',
 'bitch',
 'bite',
 'bitten',
 'bitter',
 'biutiful',
 'black',
 'blackcoat',
 'blackfish',
 'blackhat',
 'blackthorn',
 'blacktop',
 'blackway',
 'blade',
 'blair',
 'blake',
 'blanc',
 'blanc-sec',
 'blancanieves',
 'blank',
 'blart',
 'blast',
 'blazing',
 'bleach',
 'blechtrommel',
 'bleed',
 'blended',
 'bless',
 'bleu',
 'blew',
 'blind',
 'blindato',
 'blindness',
 'bling',
 'blitz',
 'blizzard',
 'blob',
 'block',
 'blog',
 'blond',
 'blonde',
 'blood',
 'bloodline',
 'bloodrayne',
 'bloodsport',
 'bloodsucking',
 'bloody',
 'bloom',
 'bloomer',
 'blow',
 'blow-up',
 'blown',
 'blue',
 'blueberry',
 'bluff',
 'bo',
 'boat',
 'bob',
 'bobby',
 'body',
 'bodyguard',
 'bogus',
 'boiler',
 'bokeh',
 'boleyn',
 'bolt',
 'bomb',
 'bon',
 'bone',
 'boneknapper',
 'bonfire',
 'bonheur',
 'bonnie',
 'boo',
 'boogeyman',
 'boogie',
 'book',
 'boom',
 'boomerang',
 'boondock',
 'boot',
 'booth',
 'borat',
 'bord',
 'borde',
 'bordello',
 'borden',
 'border',
 'borderland',
 'bordertown',
 'borgman',
 'boris',
 'born',
 'borrowed',
 'borrower',
 'boruto',
 'bos',
 'boss',
 'botswanga',
 'bottle',
 'bouffe',
 'bough',
 'bought',
 'boulet',
 'boulevard',
 'boulot',
 'boum',
 'bounce',
 'bound',
 'boundin',
 'bounty',
 'bourgeoisie',
 'bourne',
 'bout',
 'boutons',
 'bovary',
 'bovery',
 'bowfinger',
 'bowling',
 'box',
 'boxing',
 'boxtrolls',
 'boy',
 'boychoir',
 'boyfriend',
 'boyhood',
 'boyka',
 'boyz',
 'bra',
 'braddock',
 'brady',
 'brain',
 'braindead',
 'brainscan',
 'brainstorm',
 'brake',
 'brand',
 'branded',
 'brasco',
 'brasil',
 'brass',
 'bratz',
 'brave',
 'braveheart',
 'bravetown',
 'bravo',
 'brazil',
 'breach',
 'break',
 'break-up',
 'breakdown',
 'breaker',
 'breakfast',
 'breaking',
 'breathe',
 'breathless',
 'breed',
 'brent',
 'breton',
 'brewster',
 'brian',
 'brice',
 'brick',
 'brickumentary',
 'bride',
 'brideshead',
 'bridesmaid',
 'bridge',
 'bridget',
 'brief',
 'briefcase',
 'bright',
 'brille',
 'brimstone',
 'bring',
 'bringing',
 'britain',
 'broadcast',
 'broadway',
 'brockovich',
 'brokeback',
 'brokedown',
 'broken',
 'bronson',
 'bronx',
 'bronze',
 'bronzés',
 'brood',
 'brook',
 'brooklyn',
 'broom',
 'broomstick',
 'bros',
 'bros.',
 'brothel',
 'brother',
 'brouillard',
 'brown',
 'brubaker',
 'bruce',
 'bruges',
 'bruit',
 'brujas',
 'bruna',
 'brutto',
 'brylluppet',
 'brysomme',
 'brüno',
 'bubba',
 'bubble',
 ...]

In [77]:
words=[re.sub('[^A-Za-z09]+','',i) for i in words]
words

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'burbs',
 'd',
 'em',
 'll',
 'm',
 're',
 's',
 've',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'naruto',
 '',
 '',
 '',
 '',
 '',
 '',
 '9',
 '',
 '0',
 '0000',
 '00',
 '000',
 '0',
 '0',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '0',
 '',
 '',
 '0',
 'th',
 '0',
 '9',
 '',
 '',
 '00',
 '',
 '',
 '9',
 '9',
 '9',
 '9',
 '',
 '',
 '0',
 '',
 '0',
 '0000',
 '000',
 '00',
 '00',
 '0',
 '0',
 '0',
 '0th',
 '',
 '',
 '',
 '',
 '',
 '',
 'th',
 '',
 '',
 '',
 'nd',
 '',
 '',
 'd',
 '',
 '0',
 '00',
 '000',
 '09',
 '',
 '',
 '',
 '',
 'th',
 '',
 '0',
 '',
 '9',
 '0',
 'd',
 'dd',
 'rd',
 '',
 'ever',
 '',
 '0',
 '00',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '9',
 'th',
 '',
 '',
 '0',
 '00',
 '00',
 '',
 'st',
 '',
 '',
 '',
 'ecret',
 'tar',
 'th',
 'tory',
 'ystem',
 '',
 '0',
 'th',
 'me',
 '',
 '00',
 '',
 'th',
 '',
 '',
 '0',
 '',
 'mm',
 'th',
 '',
 '9',
 '9',
 '9',
 '9',
 '99',
 '9th',
 '',
 '',
 '',
 '',
 'a',
 'ateam',
 'acab',
 'acod',
 'ad',
 'ad',
 'ae',
 'ai',
 'aaron',
 'abandoned',
 'abattoir',
 'abbey',
 'abbott',
 'abc',
 'abduction',
 'abiding',
 'abominable',
 'about',
 'above',
 'abraham',
 'abrazo',
 'abrazos',
 'abre',
 'absentia',
 'absolute',
 'absolutely',
 'abyss',
 'academy',
 'accanto',
 'accepted',
 'accidental',
 'according',
 'accountant',
 'accused',
 'ace',
 'aceptan',
 'across',
 'act',
 'acted',
 'action',
 'activity',
 'actor',
 'actually',
 'ad',
 'adaline',
 'adam',
 'adaptation',
 'addams',
 'addendum',
 'addicted',
 'adentro',
 'adieu',
 'adjustment',
 'admission',
 'ado',
 'adopte',
 'adore',
 'adrift',
 'adult',
 'advent',
 'adventure',
 'adventureland',
 'adventurer',
 'advocate',
 'affair',
 'affection',
 'afflicted',
 'affliction',
 'affre',
 'afraid',
 'africa',
 'african',
 'afro',
 'after',
 'afterlife',
 'afterlife',
 'aftermath',
 'afternoon',
 'aftershock',
 'again',
 'against',
 'age',
 'agent',
 'agente',
 'agora',
 'agua',
 'aguirre',
 'ahead',
 'ahora',
 'ai',
 'air',
 'airbender',
 'airhead',
 'airlift',
 'airplane',
 'airport',
 'akbar',
 'akeelah',
 'al',
 'alabama',
 'aladdin',
 'alamo',
 'alan',
 'alaska',
 'alatriste',
 'albert',
 'alcatraz',
 'alceste',
 'alenky',
 'alex',
 'alexander',
 'alfie',
 'alfredo',
 'algeri',
 'ali',
 'alibicom',
 'alice',
 'alien',
 'alienate',
 'alien',
 'alive',
 'all',
 'allitaliana',
 'alla',
 'allan',
 'alle',
 'allegiant',
 'allein',
 'allen',
 'allied',
 'alligator',
 'allows',
 'almanac',
 'almighty',
 'almost',
 'aloha',
 'alone',
 'along',
 'alpha',
 'alphaville',
 'already',
 'altered',
 'altitude',
 'alto',
 'altrimenti',
 'alvin',
 'always',
 'am',
 'amadeus',
 'amanda',
 'amantes',
 'amarcord',
 'amazing',
 'ambersons',
 'amelia',
 'amen',
 'america',
 'american',
 'amerikanische',
 'ami',
 'amiche',
 'amici',
 'amico',
 'amie',
 'amigo',
 'amis',
 'amistad',
 'amityville',
 'amo',
 'among',
 'amor',
 'amore',
 'amores',
 'amour',
 'amoureuse',
 'amusement',
 'amy',
 'amricain',
 'amricaine',
 'an',
 'anacleto',
 'anaconda',
 'anadoluda',
 'analysis',
 'analyze',
 'anarchy',
 'anastasia',
 'anatomie',
 'anatomy',
 'anchorman',
 'ancora',
 'and',
 'andalou',
 'anderen',
 'andra',
 'andreas',
 'andromeda',
 'andr',
 'angel',
 'angela',
 'angela',
 'angeles',
 'anger',
 'anges',
 'angriest',
 'angry',
 'angst',
 'angus',
 'animal',
 'animated',
 'animatrix',
 'anna',
 'annabelle',
 'annapolis',
 'anne',
 'annie',
 'annihilation',
 'anomalisa',
 'anomaly',
 'anonymes',
 'anonymous',
 'another',
 'ant',
 'antman',
 'anthropoid',
 'antichrist',
 'antigang',
 'antitrust',
 'antiviral',
 'antoinette',
 'antwone',
 'antz',
 'anvil',
 'anxiety',
 'any',
 'anymore',
 'anything',
 'anyways',
 'anywhere',
 'apache',
 'apart',
 'apartment',
 'ape',
 'apellidos',
 'aperta',
 'aphrodite',
 'apocalipsis',
 'apocalypse',
 'apocalypto',
 'apollo',
 'appaloosa',
 'apparition',
 'appleseed',
 'apply',
 'apprentice',
 'approaching',
 'april',
 'apt',
 'aquamarine',
 'aquarius',
 'aquatic',
 'arabia',
 'arachnophobia',
 'arbitrage',
 'arbus',
 'arc',
 'are',
 'area',
 'arena',
 'arendt',
 'argo',
 'argonaut',
 'ariel',
 'aristocats',
 'arizona',
 'ark',
 'arkham',
 'arlington',
 'arm',
 'armageddon',
 'armed',
 'armored',
 'army',
 'arn',
 'arnold',
 'around',
 'arq',
 'arrabbiamo',
 'arrival',
 'arriv',
 'arrow',
 'arrt',
 'arsenic',
 'arsne',
 'art',
 'arthur',
 'artificial',
 'artist',
 'as',
 'ascending',
 'ascenseur',
 'ash',
 'ashby',
 'ask',
 'asked',
 'asmar',
 'asphalt',
 'aspirante',
 'ass',
 'assassin',
 'assassination',
 'assault',
 'assignment',
 'assistant',
 'assoupi',
 'astro',
 'astronaut',
 'astrix',
 'asylum',
 'at',
 'ataque',
 'atari',
 'atlantic',
 'atlantis',
 'atlas',
 'atm',
 'atomic',
 'atonement',
 'atrocious',
 'attached',
 'attack',
 'attic',
 'atticus',
 'attila',
 'attraction',
 'au',
 'auf',
 'august',
 'austen',
 'austenland',
 'austin',
 'australia',
 'auto',
 'automobile',
 'autopsy',
 'autoreiji',
 'autumn',
 'autmata',
 'aux',
 'av',
 'avalanche',
 'avalon',
 'avant',
 'avatar',
 'avec',
 'avenger',
 'aventuras',
 'aventure',
 'aventures',
 'aveuglment',
 'aviator',
 'avis',
 'avonturen',
 'avp',
 'avril',
 'awake',
 'awakening',
 'awakens',
 'away',
 'awkward',
 'ax',
 'axe',
 'azkaban',
 'azur',
 'aos',
 'a',
 'a',
 'b',
 'b',
 'baader',
 'baahubali',
 'baara',
 'babadook',
 'babe',
 'babel',
 'babettes',
 'baby',
 'babylon',
 'babymakers',
 'babysitter',
 'babysitting',
 'bachelor',
 'bachelorette',
 'baciami',
 'bacio',
 'back',
 'backup',
 'backcountry',
 'backdraft',
 'backmask',
 'backtrack',
 'bacon',
 'bad',
 'badassdom',
 'badlands',
 'badly',
 'bag',
 'baggage',
 'bagger',
 'bahnhof',
 'baiohazdo',
 'baisemoi',
 'baisers',
 'bait',
 'bajirao',
 'bajrangi',
 'bak',
 'baked',
 'baker',
 'balada',
 'balade',
 'balboa',
 'ball',
 'ballad',
 'ballerina',
 'ballet',
 'ballistic',
 'ballon',
 'ballou',
 'ballroom',
 'balthazar',
 'balto',
 'bamba',
 'bambi',
 'bana',
 'banana',
 'band',
 'bande',
 'bandidas',
 'bandit',
 'bandslam',
 'bang',
 'banger',
 'bangkok',
 'bank',
 'banlieue',
 'banshee',
 'banzai',
 'bar',
 'baraka',
 'barb',
 'barbara',
 'barbarella',
 'barbaren',
 'barbares',
 'barbarian',
 'barbecue',
 'barber',
 'barbershop',
 'barbie',
 'barcelona',
 'barefoot',
 'barely',
 'barfi',
 'barfly',
 'barfu',
 'barley',
 'barney',
 'barnyard',
 'baron',
 'barrel',
 'barry',
 'bartlett',
 'barton',
 'basanti',
 'baseketball',
 'bashir',
 'basic',
 'basilicata',
 'baskervilles',
 'basket',
 'basketball',
 'baskin',
 'basquiat',
 'bastard',
 'basterds',
 'bastille',
 'basty',
 'batch',
 'bathgate',
 'batman',
 'batoru',
 'battaglia',
 'battery',
 'battle',
 'battlefield',
 'battleship',
 'battlestar',
 'battre',
 'batwoman',
 'bay',
 'baytown',
 'baywatch',
 'bc',
 'be',
 'beach',
 'beacon',
 'bean',
 'bear',
 'beast',
 'beastly',
 'beastmaster',
 'beatdown',
 'beatles',
 'beau',
 'beaucoup',
 'beautiful',
 'beauty',
 'beaver',
 'beavis',
 'because',
 'beckham',
 'becomes',
 'becoming',
 'bedazzled',
 'bedknobs',
 'bedroom',
 'bedtime',
 'bee',
 'been',
 'beer',
 'beerfest',
 'beethoven',
 'beetlejuice',
 'beezus',
 'before',
 'began',
 'begin',
 'beginner',
 'beginning',
 'begotten',
 'beguiled',
 'behandeling',
 'behaving',
 'behavior',
 'behind',
 'behold',
 'being',
 'bejta',
 'bel',
 'beli',
 'belief',
 'believe',
 'believer',
 'belko',
 'bell',
 'bella',
 'belle',
 'belleville',
 'bellezza',
 'belong',
 'beloved',
 'below',
 'belva',
 'ben',
 'benhur',
 'benchwarmers',
 'bend',
 'bender',
 'beneath',
 'benefactor',
 'benefit',
 'benghazi',
 'benjamin',
 'benny',
 'benvenuti',
 'benvenuto',
 'beowulf',
 'berandal',
 'berberian',
 'bergerac',
 'berlin',
 'bernie',
 'best',
 'bestia',
 'beta',
 'beth',
 'better',
 'betty',
 'between',
 'beverly',
 'bewitched',
 'beyond',
 'bfg',
 'bhaag',
 'bhaijaan',
 'bi',
 'bianca',
 'bianco',
 'bicentennial',
 'biciclette',
 'bicyclette',
 'bieber',
 'bien',
 'bienvenue',
 'big',
 'bigalow',
 'bigger',
 'biker',
 'bilko',
 'bill',
 'billes',
 'billion',
 'billy',
 'biloxi',
 'bin',
 'biodome',
 'biohazard',
 'bir',
 'bird',
 'birdcage',
 'birdemic',
 'birdman',
 'birdy',
 'birth',
 'birthday',
 'bisbetico',
 'bit',
 'bitch',
 'bite',
 'bitten',
 'bitter',
 'biutiful',
 'black',
 'blackcoat',
 'blackfish',
 'blackhat',
 'blackthorn',
 'blacktop',
 'blackway',
 'blade',
 'blair',
 'blake',
 'blanc',
 'blancsec',
 'blancanieves',
 'blank',
 'blart',
 'blast',
 'blazing',
 'bleach',
 'blechtrommel',
 'bleed',
 'blended',
 'bless',
 'bleu',
 'blew',
 'blind',
 'blindato',
 'blindness',
 'bling',
 'blitz',
 'blizzard',
 'blob',
 'block',
 'blog',
 'blond',
 'blonde',
 'blood',
 'bloodline',
 'bloodrayne',
 'bloodsport',
 'bloodsucking',
 'bloody',
 'bloom',
 'bloomer',
 'blow',
 'blowup',
 'blown',
 'blue',
 'blueberry',
 'bluff',
 'bo',
 'boat',
 'bob',
 'bobby',
 'body',
 'bodyguard',
 'bogus',
 'boiler',
 'bokeh',
 'boleyn',
 'bolt',
 'bomb',
 'bon',
 'bone',
 'boneknapper',
 'bonfire',
 'bonheur',
 'bonnie',
 'boo',
 'boogeyman',
 'boogie',
 'book',
 'boom',
 'boomerang',
 'boondock',
 'boot',
 'booth',
 'borat',
 'bord',
 'borde',
 'bordello',
 'borden',
 'border',
 'borderland',
 'bordertown',
 'borgman',
 'boris',
 'born',
 'borrowed',
 'borrower',
 'boruto',
 'bos',
 'boss',
 'botswanga',
 'bottle',
 'bouffe',
 'bough',
 'bought',
 'boulet',
 'boulevard',
 'boulot',
 'boum',
 'bounce',
 'bound',
 'boundin',
 'bounty',
 'bourgeoisie',
 'bourne',
 'bout',
 'boutons',
 'bovary',
 'bovery',
 'bowfinger',
 'bowling',
 'box',
 'boxing',
 'boxtrolls',
 'boy',
 'boychoir',
 'boyfriend',
 'boyhood',
 'boyka',
 'boyz',
 'bra',
 'braddock',
 'brady',
 'brain',
 'braindead',
 'brainscan',
 'brainstorm',
 'brake',
 'brand',
 'branded',
 'brasco',
 'brasil',
 'brass',
 'bratz',
 'brave',
 'braveheart',
 'bravetown',
 'bravo',
 'brazil',
 'breach',
 'break',
 'breakup',
 'breakdown',
 'breaker',
 'breakfast',
 'breaking',
 'breathe',
 'breathless',
 'breed',
 'brent',
 'breton',
 'brewster',
 'brian',
 'brice',
 'brick',
 'brickumentary',
 'bride',
 'brideshead',
 'bridesmaid',
 'bridge',
 'bridget',
 'brief',
 'briefcase',
 'bright',
 'brille',
 'brimstone',
 'bring',
 'bringing',
 'britain',
 'broadcast',
 'broadway',
 'brockovich',
 'brokeback',
 'brokedown',
 'broken',
 'bronson',
 'bronx',
 'bronze',
 'bronzs',
 'brood',
 'brook',
 'brooklyn',
 'broom',
 'broomstick',
 'bros',
 'bros',
 'brothel',
 'brother',
 'brouillard',
 'brown',
 'brubaker',
 'bruce',
 'bruges',
 'bruit',
 'brujas',
 'bruna',
 'brutto',
 'brylluppet',
 'brysomme',
 'brno',
 'bubba',
 'bubble',
 ...]

In [78]:
while('' in words) :
    words.remove('')

words

['burbs',
 'd',
 'em',
 'll',
 'm',
 're',
 's',
 've',
 'naruto',
 '9',
 '0',
 '0000',
 '00',
 '000',
 '0',
 '0',
 '0',
 '0',
 'th',
 '0',
 '9',
 '00',
 '9',
 '9',
 '9',
 '9',
 '0',
 '0',
 '0000',
 '000',
 '00',
 '00',
 '0',
 '0',
 '0',
 '0th',
 'th',
 'nd',
 'd',
 '0',
 '00',
 '000',
 '09',
 'th',
 '0',
 '9',
 '0',
 'd',
 'dd',
 'rd',
 'ever',
 '0',
 '00',
 '9',
 'th',
 '0',
 '00',
 '00',
 'st',
 'ecret',
 'tar',
 'th',
 'tory',
 'ystem',
 '0',
 'th',
 'me',
 '00',
 'th',
 '0',
 'mm',
 'th',
 '9',
 '9',
 '9',
 '9',
 '99',
 '9th',
 'a',
 'ateam',
 'acab',
 'acod',
 'ad',
 'ad',
 'ae',
 'ai',
 'aaron',
 'abandoned',
 'abattoir',
 'abbey',
 'abbott',
 'abc',
 'abduction',
 'abiding',
 'abominable',
 'about',
 'above',
 'abraham',
 'abrazo',
 'abrazos',
 'abre',
 'absentia',
 'absolute',
 'absolutely',
 'abyss',
 'academy',
 'accanto',
 'accepted',
 'accidental',
 'according',
 'accountant',
 'accused',
 'ace',
 'aceptan',
 'across',
 'act',
 'acted',
 'action',
 'activity',
 'actor',
 'actually',
 'ad',
 'adaline',
 'adam',
 'adaptation',
 'addams',
 'addendum',
 'addicted',
 'adentro',
 'adieu',
 'adjustment',
 'admission',
 'ado',
 'adopte',
 'adore',
 'adrift',
 'adult',
 'advent',
 'adventure',
 'adventureland',
 'adventurer',
 'advocate',
 'affair',
 'affection',
 'afflicted',
 'affliction',
 'affre',
 'afraid',
 'africa',
 'african',
 'afro',
 'after',
 'afterlife',
 'afterlife',
 'aftermath',
 'afternoon',
 'aftershock',
 'again',
 'against',
 'age',
 'agent',
 'agente',
 'agora',
 'agua',
 'aguirre',
 'ahead',
 'ahora',
 'ai',
 'air',
 'airbender',
 'airhead',
 'airlift',
 'airplane',
 'airport',
 'akbar',
 'akeelah',
 'al',
 'alabama',
 'aladdin',
 'alamo',
 'alan',
 'alaska',
 'alatriste',
 'albert',
 'alcatraz',
 'alceste',
 'alenky',
 'alex',
 'alexander',
 'alfie',
 'alfredo',
 'algeri',
 'ali',
 'alibicom',
 'alice',
 'alien',
 'alienate',
 'alien',
 'alive',
 'all',
 'allitaliana',
 'alla',
 'allan',
 'alle',
 'allegiant',
 'allein',
 'allen',
 'allied',
 'alligator',
 'allows',
 'almanac',
 'almighty',
 'almost',
 'aloha',
 'alone',
 'along',
 'alpha',
 'alphaville',
 'already',
 'altered',
 'altitude',
 'alto',
 'altrimenti',
 'alvin',
 'always',
 'am',
 'amadeus',
 'amanda',
 'amantes',
 'amarcord',
 'amazing',
 'ambersons',
 'amelia',
 'amen',
 'america',
 'american',
 'amerikanische',
 'ami',
 'amiche',
 'amici',
 'amico',
 'amie',
 'amigo',
 'amis',
 'amistad',
 'amityville',
 'amo',
 'among',
 'amor',
 'amore',
 'amores',
 'amour',
 'amoureuse',
 'amusement',
 'amy',
 'amricain',
 'amricaine',
 'an',
 'anacleto',
 'anaconda',
 'anadoluda',
 'analysis',
 'analyze',
 'anarchy',
 'anastasia',
 'anatomie',
 'anatomy',
 'anchorman',
 'ancora',
 'and',
 'andalou',
 'anderen',
 'andra',
 'andreas',
 'andromeda',
 'andr',
 'angel',
 'angela',
 'angela',
 'angeles',
 'anger',
 'anges',
 'angriest',
 'angry',
 'angst',
 'angus',
 'animal',
 'animated',
 'animatrix',
 'anna',
 'annabelle',
 'annapolis',
 'anne',
 'annie',
 'annihilation',
 'anomalisa',
 'anomaly',
 'anonymes',
 'anonymous',
 'another',
 'ant',
 'antman',
 'anthropoid',
 'antichrist',
 'antigang',
 'antitrust',
 'antiviral',
 'antoinette',
 'antwone',
 'antz',
 'anvil',
 'anxiety',
 'any',
 'anymore',
 'anything',
 'anyways',
 'anywhere',
 'apache',
 'apart',
 'apartment',
 'ape',
 'apellidos',
 'aperta',
 'aphrodite',
 'apocalipsis',
 'apocalypse',
 'apocalypto',
 'apollo',
 'appaloosa',
 'apparition',
 'appleseed',
 'apply',
 'apprentice',
 'approaching',
 'april',
 'apt',
 'aquamarine',
 'aquarius',
 'aquatic',
 'arabia',
 'arachnophobia',
 'arbitrage',
 'arbus',
 'arc',
 'are',
 'area',
 'arena',
 'arendt',
 'argo',
 'argonaut',
 'ariel',
 'aristocats',
 'arizona',
 'ark',
 'arkham',
 'arlington',
 'arm',
 'armageddon',
 'armed',
 'armored',
 'army',
 'arn',
 'arnold',
 'around',
 'arq',
 'arrabbiamo',
 'arrival',
 'arriv',
 'arrow',
 'arrt',
 'arsenic',
 'arsne',
 'art',
 'arthur',
 'artificial',
 'artist',
 'as',
 'ascending',
 'ascenseur',
 'ash',
 'ashby',
 'ask',
 'asked',
 'asmar',
 'asphalt',
 'aspirante',
 'ass',
 'assassin',
 'assassination',
 'assault',
 'assignment',
 'assistant',
 'assoupi',
 'astro',
 'astronaut',
 'astrix',
 'asylum',
 'at',
 'ataque',
 'atari',
 'atlantic',
 'atlantis',
 'atlas',
 'atm',
 'atomic',
 'atonement',
 'atrocious',
 'attached',
 'attack',
 'attic',
 'atticus',
 'attila',
 'attraction',
 'au',
 'auf',
 'august',
 'austen',
 'austenland',
 'austin',
 'australia',
 'auto',
 'automobile',
 'autopsy',
 'autoreiji',
 'autumn',
 'autmata',
 'aux',
 'av',
 'avalanche',
 'avalon',
 'avant',
 'avatar',
 'avec',
 'avenger',
 'aventuras',
 'aventure',
 'aventures',
 'aveuglment',
 'aviator',
 'avis',
 'avonturen',
 'avp',
 'avril',
 'awake',
 'awakening',
 'awakens',
 'away',
 'awkward',
 'ax',
 'axe',
 'azkaban',
 'azur',
 'aos',
 'a',
 'a',
 'b',
 'b',
 'baader',
 'baahubali',
 'baara',
 'babadook',
 'babe',
 'babel',
 'babettes',
 'baby',
 'babylon',
 'babymakers',
 'babysitter',
 'babysitting',
 'bachelor',
 'bachelorette',
 'baciami',
 'bacio',
 'back',
 'backup',
 'backcountry',
 'backdraft',
 'backmask',
 'backtrack',
 'bacon',
 'bad',
 'badassdom',
 'badlands',
 'badly',
 'bag',
 'baggage',
 'bagger',
 'bahnhof',
 'baiohazdo',
 'baisemoi',
 'baisers',
 'bait',
 'bajirao',
 'bajrangi',
 'bak',
 'baked',
 'baker',
 'balada',
 'balade',
 'balboa',
 'ball',
 'ballad',
 'ballerina',
 'ballet',
 'ballistic',
 'ballon',
 'ballou',
 'ballroom',
 'balthazar',
 'balto',
 'bamba',
 'bambi',
 'bana',
 'banana',
 'band',
 'bande',
 'bandidas',
 'bandit',
 'bandslam',
 'bang',
 'banger',
 'bangkok',
 'bank',
 'banlieue',
 'banshee',
 'banzai',
 'bar',
 'baraka',
 'barb',
 'barbara',
 'barbarella',
 'barbaren',
 'barbares',
 'barbarian',
 'barbecue',
 'barber',
 'barbershop',
 'barbie',
 'barcelona',
 'barefoot',
 'barely',
 'barfi',
 'barfly',
 'barfu',
 'barley',
 'barney',
 'barnyard',
 'baron',
 'barrel',
 'barry',
 'bartlett',
 'barton',
 'basanti',
 'baseketball',
 'bashir',
 'basic',
 'basilicata',
 'baskervilles',
 'basket',
 'basketball',
 'baskin',
 'basquiat',
 'bastard',
 'basterds',
 'bastille',
 'basty',
 'batch',
 'bathgate',
 'batman',
 'batoru',
 'battaglia',
 'battery',
 'battle',
 'battlefield',
 'battleship',
 'battlestar',
 'battre',
 'batwoman',
 'bay',
 'baytown',
 'baywatch',
 'bc',
 'be',
 'beach',
 'beacon',
 'bean',
 'bear',
 'beast',
 'beastly',
 'beastmaster',
 'beatdown',
 'beatles',
 'beau',
 'beaucoup',
 'beautiful',
 'beauty',
 'beaver',
 'beavis',
 'because',
 'beckham',
 'becomes',
 'becoming',
 'bedazzled',
 'bedknobs',
 'bedroom',
 'bedtime',
 'bee',
 'been',
 'beer',
 'beerfest',
 'beethoven',
 'beetlejuice',
 'beezus',
 'before',
 'began',
 'begin',
 'beginner',
 'beginning',
 'begotten',
 'beguiled',
 'behandeling',
 'behaving',
 'behavior',
 'behind',
 'behold',
 'being',
 'bejta',
 'bel',
 'beli',
 'belief',
 'believe',
 'believer',
 'belko',
 'bell',
 'bella',
 'belle',
 'belleville',
 'bellezza',
 'belong',
 'beloved',
 'below',
 'belva',
 'ben',
 'benhur',
 'benchwarmers',
 'bend',
 'bender',
 'beneath',
 'benefactor',
 'benefit',
 'benghazi',
 'benjamin',
 'benny',
 'benvenuti',
 'benvenuto',
 'beowulf',
 'berandal',
 'berberian',
 'bergerac',
 'berlin',
 'bernie',
 'best',
 'bestia',
 'beta',
 'beth',
 'better',
 'betty',
 'between',
 'beverly',
 'bewitched',
 'beyond',
 'bfg',
 'bhaag',
 'bhaijaan',
 'bi',
 'bianca',
 'bianco',
 'bicentennial',
 'biciclette',
 'bicyclette',
 'bieber',
 'bien',
 'bienvenue',
 'big',
 'bigalow',
 'bigger',
 'biker',
 'bilko',
 'bill',
 'billes',
 'billion',
 'billy',
 'biloxi',
 'bin',
 'biodome',
 'biohazard',
 'bir',
 'bird',
 'birdcage',
 'birdemic',
 'birdman',
 'birdy',
 'birth',
 'birthday',
 'bisbetico',
 'bit',
 'bitch',
 'bite',
 'bitten',
 'bitter',
 'biutiful',
 'black',
 'blackcoat',
 'blackfish',
 'blackhat',
 'blackthorn',
 'blacktop',
 'blackway',
 'blade',
 'blair',
 'blake',
 'blanc',
 'blancsec',
 'blancanieves',
 'blank',
 'blart',
 'blast',
 'blazing',
 'bleach',
 'blechtrommel',
 'bleed',
 'blended',
 'bless',
 'bleu',
 'blew',
 'blind',
 'blindato',
 'blindness',
 'bling',
 'blitz',
 'blizzard',
 'blob',
 'block',
 'blog',
 'blond',
 'blonde',
 'blood',
 'bloodline',
 'bloodrayne',
 'bloodsport',
 'bloodsucking',
 'bloody',
 'bloom',
 'bloomer',
 'blow',
 'blowup',
 'blown',
 'blue',
 'blueberry',
 'bluff',
 'bo',
 'boat',
 'bob',
 'bobby',
 'body',
 'bodyguard',
 'bogus',
 'boiler',
 'bokeh',
 'boleyn',
 'bolt',
 'bomb',
 'bon',
 'bone',
 'boneknapper',
 'bonfire',
 'bonheur',
 'bonnie',
 'boo',
 'boogeyman',
 'boogie',
 'book',
 'boom',
 'boomerang',
 'boondock',
 'boot',
 'booth',
 'borat',
 'bord',
 'borde',
 'bordello',
 'borden',
 'border',
 'borderland',
 'bordertown',
 'borgman',
 'boris',
 'born',
 'borrowed',
 'borrower',
 'boruto',
 'bos',
 'boss',
 'botswanga',
 'bottle',
 'bouffe',
 'bough',
 'bought',
 'boulet',
 'boulevard',
 'boulot',
 'boum',
 'bounce',
 'bound',
 'boundin',
 'bounty',
 'bourgeoisie',
 'bourne',
 'bout',
 'boutons',
 'bovary',
 'bovery',
 'bowfinger',
 'bowling',
 'box',
 'boxing',
 'boxtrolls',
 'boy',
 'boychoir',
 'boyfriend',
 'boyhood',
 'boyka',
 'boyz',
 'bra',
 'braddock',
 'brady',
 'brain',
 'braindead',
 'brainscan',
 'brainstorm',
 'brake',
 'brand',
 'branded',
 'brasco',
 'brasil',
 'brass',
 'bratz',
 'brave',
 'braveheart',
 'bravetown',
 'bravo',
 'brazil',
 'breach',
 'break',
 'breakup',
 'breakdown',
 'breaker',
 'breakfast',
 'breaking',
 'breathe',
 'breathless',
 'breed',
 'brent',
 'breton',
 'brewster',
 'brian',
 'brice',
 'brick',
 'brickumentary',
 'bride',
 'brideshead',
 'bridesmaid',
 'bridge',
 'bridget',
 'brief',
 'briefcase',
 'bright',
 'brille',
 'brimstone',
 'bring',
 'bringing',
 'britain',
 'broadcast',
 'broadway',
 'brockovich',
 'brokeback',
 'brokedown',
 'broken',
 'bronson',
 'bronx',
 'bronze',
 'bronzs',
 'brood',
 'brook',
 'brooklyn',
 'broom',
 'broomstick',
 'bros',
 'bros',
 'brothel',
 'brother',
 'brouillard',
 'brown',
 'brubaker',
 'bruce',
 'bruges',
 'bruit',
 'brujas',
 'bruna',
 'brutto',
 'brylluppet',
 'brysomme',
 'brno',
 'bubba',
 'bubble',
 'bubby',
 'buck',
 'buckaroo',
 'bucket',
 'bud',
 'budapest',
 'buddha',
 'buddy',
 'bueller',
 'buena',
 'buffalo',
 'buffy',
 'bug',
 'bugsy',
 'bui',
 'build',
 'built',
 'bulge',
 'bull',
 'bulldozer',
 'bullet',
 'bulletproof',
 'bullitt',
 'bullwinkle',
 'bully',
 'bulworth',
 'bunch',
 'bunny',
 'bunraku',
 'buongiorno',
 'buono',
 'bureau',
 'buret',
 'burger',
 'burgundy',
 'burial',
 'buried',
 'burke',
 'burlesque',
 'burn',
 'burnham',
 'burning',
 'burnt',
 'burne',
 'burrowers',
 'burt',
 'burying',
 'business',
 'but',
 'butch',
 'butchigiri',
 'butler',
 'butthead',
 'butter',
 'butterfly',
 'button',
 'buy',
 'buyer',
 'by',
 'bye',
 'byzantium',
 'bst',
 'blier',
 'bte',
 'btes',
 'bru',
 'blgen',
 'bru',
 'c',
 'cera',
 'cest',
 'chud',
 'ck',
 'ca',
 'caballeros',
 'cabaret',
 'cabin',
 'cabinet',
 'cabiria',
 'cable',
 'cachemire',
 'cach',
 'cactus',
 'caddyshack',
 'cadet',
 ...]